body{
    background-color: deedff;
}

div.main{
    width: 400px;
    margin: 0px auto;
    text-align: center;
    
}

div.gaps{
    margin: 0 auto;
    border: 1px solid black;
    
}
