body{
    background-color: deedff;
}

div{
}

div.main{
    width: 324px;
    margin: 0px auto;
    
}

div.gaps{
    margin: 0 auto;
    border: 1px solid black;
    
}

#weekday{
    width: 50px;
    height: 504px;
    margin: 0 auto;
    float: left;
    text-align: center;
    line-height: 15px;
    text-decoration: underline;
}

#time{
    margin: 0 auto;
    line-height: 30px;
}

#clockes{
    float: right;
}

li{
    list-style-type: none;
    font-size: 8px;
    line-height: 35px;
}